.MB{
  background-image: url(../pics/vB0fal.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}
.TB{
background-image: url(../pics//923752-full-size-awesome-cool-wallpapers-1920x1080-for-android-40.jpg);
background-attachment: fixed;
background-position: center center;
background-repeat: none;
background-size: cover;
}
.GB{
  background-image: url(../pics/luk0ec8-imgur.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}